<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>*AsciiDoc</string>
	<key>ordering</key>
	<array>
		<string>A3AE77A5-CDD2-406F-92B0-A1986A2696A5</string>
		<string>518068F7-C609-45C8-8E94-1D9CE61F1911</string>
	</array>
	<key>uuid</key>
	<string>CAAD719B-06B3-4282-84DA-3D5E1EF393AC</string>
</dict>
</plist>
